# Xcode
.DS_Store
*/build/*

# Xcode Per User Config (except Defaults)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

#xcode 4 userdata ignore
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap


# build products
build/
*.[oa]

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS


# automatic backup files
*~.nib
*.swp


### OSX ignore stuff

#standard
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.xcuserdatad
