<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--ignore</key>
	<array>
		<string>RNCryptorTests</string>
	</array>
	<key>--project-name</key>
	<string>RNCryptor</string>
	<key>--project-company</key>
	<string>Rob Napier</string>
	<key>--company-id</key>
	<string>net.robnapier</string>
	<key>--create-docset</key>
	<false/>
	<key>--install-docset</key>
	<false/>
	<key>--output</key>
	<string>doc</string>
</dict>
</plist>
